<?xml version='1.0'?> 
<document>

<config>
	<param name="activationUrl" value="*"/>
	<param name="activationLevel" value="2"/>
	<param name="adminMenu" value="0"/>
</config>

<install>
	<param name="name" value="google-login" />
	<param name="version" value="1.0"/>
	<param name="date" value="03.11.2017"/>
	<param name="title" value="Google Login"/>
	<param name="description" value="Google Login Services. Allow to sing up or log in"/>
	
	<dependency module="msv-core" version="1.0" />
	
	<file dir="module" path="google-login/google-login.php"/>
	<file dir="module" path="google-login/config.xml"/>
	<file dir="content" path="images/btn_google_signin.png"/>
</install>

</document>