<?xml version="1.0" encoding="UTF-8"?>
<document>

<config>
	<param name="activationLevel" value="5"/>
	<param name="activationUrl" value="*"/>
	<param name="baseUrl" value="/gallery/"/>
	<param name="itemsPerPage" value="15"/>
	<param name="pageUrlParam" value="p"/>
	<param name="searchUrlParam" value="s"/>
	<param name="previewItemsCount" value="2"/>
	<param name="adminMenu" value="true"/>
	<param name="adminMenuOrder" value="29"/>

	<param name="accessAPIList" value="everyone"/>
	<param name="accessAPIAlbum" value="everyone"/>
	<param name="accessAPIAdd" value="admin"/>
	<param name="accessAPIEdit" value="admin"/>

	<constant name="TABLE_GALLERY_ALBUM" value="gallery_album"/>
	<constant name="TABLE_GALLERY_PHOTOS" value="gallery_photos"/>
	
	<filter url="/gallery/" action="GalleryLoad"/>
	<filter url="/gallery/*" action="GalleryLoadAlbum" setpage="/gallery/"/>
	
	<api name="gallery" action="ajaxGalleryRequest"/>
	
	<table name="gallery_album" index="url" title="title" useseo="true">
		<field name="id" type="id"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="updated"/>
		<field name="lang" type="lang"/>
		<field name="url" type="url"/>
		<field name="date" type="date"/>
		<field name="title" type="str"/>
		<field name="description" type="doc"/>
		<field name="pic" type="pic" max-width="1600" max-height="1200"/>
		<field name="pic_preview" type="pic" max-width="800" max-height="600"/>
		<field name="views" type="int"/>
		<field name="shares" type="int"/>
		<field name="comments" type="int"/>
	</table>
	<table name="gallery_photos" index="id" title="title">
		<field name="id" type="id"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="updated"/>
		<field name="lang" type="lang"/>
		<field name="album_id" type="int" select-from="table:gallery_album"/>
		<field name="order_id" type="int"/>
		<field name="date" type="date"/>
		<field name="title" type="str"/>
		<field name="description" type="doc"/>
		<field name="pic" type="pic" max-width="1600" max-height="1200"/>
		<field name="pic_preview" type="pic" max-width="800" max-height="600"/>
	</table>
</config>
		
</document>
