<?xml version="1.0" encoding="UTF-8"?>
<document>

<config>
	<param name="activationUrl" value="/admin/"/>
	<param name="activationLevel" value="9"/>
	<param name="adminMenu" value="0"/>
</config>


<install>
	<param name="name" value="cropper" />
	<param name="version" value="1.0"/>
	<param name="date" value="01.06.2016"/>
	<param name="title" value="jQuery.Cropper"/>
	<param name="description" value="A simple jQuery image cropping plugin v2.3.2"/>
	
	<dependency module="msv-core" version="1.0" />
	
	<file dir="module" path="cropper/cropper.php"/>
	<file dir="module" path="cropper/config.xml"/>
	<file dir="content" path="css/jquery.cropper.css"/>
	<file dir="content" path="js/jquery.cropper.js"/>
</install>
<locales>
	<locale name="ru">
    </locale>
	<locale name="en">
    </locale>
    <locale name="ua">
    </locale>
</locales>
</document>