<?xml version='1.0'?> 
<document>

<config>
	<param name="activationLevel" value="7"/>
	<param name="activationUrl" value="*"/>
	<param name="baseUrl" value="/search/"/>
    <param name="adminMenu" value="1"/>
    <param name="adminMenuOrder" value="150"/>

	<filter url="/search/" action="Get_Search_List"/>
    
    <api name="more_search" action="ajax_More_Search"/>
    
    <param name="installHook" value="Install_Search"/>
    
    <constant name="TABLE_SEARCH" value="search"/>
    
    <table name="search" index="id" title="name">
		<field name="id" type="id" readonly="1"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="datetime"/>
		<field name="lang" type="lang" listskip="1"/>
		<field name="ip" type="str"/>
		<field name="search_txt" type="str"/>
		<field name="count" type="bool"/>
	</table>
    
</config>

<install>
	<param name="name" value="search"/>
	<param name="version" value="1.0.1"/>
	<param name="date" value="12.08.2017"/>
	<param name="title" value="Site search"/>
	<param name="description" value="Text site search"/>
	<param name="tags" value="search"/>
	<param name="author" value="max@msvhost.com"/>
	<param name="preview" value="images/module_preview_search.jpg"/>

	<dependency module="core" version="1.0" />
    
	<file dir="module" path="search/search.php"/>
	<file dir="module" path="search/config.xml"/>
	<file dir="module" path="search/config.locales.xml"/>
	<file dir="template" path="default/site-search.tpl"/>
	<file dir="content" path="images/module_preview_search.jpg"/>
</install>
</document>