<?xml version="1.0" encoding="UTF-8"?>
<document>

<config>
	<param name="activationLevel" value="7"/>
	<param name="activationUrl" value="*"/>
	<param name="adminMenu" value="0"/>
	
</config>

<install>
	<param name="name" value="theme-default"/>
	<param name="version" value="1.3"/>
	<param name="date" value="23.07.2017"/>
	<param name="installHook" value="Install_ThemeDefault"/>
	<param name="title" value="Theme - Default"/>
	<param name="description" value="Default theme for MSV"/>
	
	<dependency module="msv-core" version="1.0" />
	
	<file dir="module" path="theme-default/theme-default.php"/>
	<file dir="module" path="theme-default/config.xml"/>
	<file dir="content" path="images/bg_full.jpg"/>
	<file dir="content" path="images/mail_ico.png"/>
	<file dir="content" path="images/search_ico.png"/>
	<file dir="content" path="images/sitemap_ico.png"/>
	<file dir="content" path="images/menu_bg.png"/>
	<file dir="template" path="default/404.tpl"/>
	<file dir="template" path="default/sitemap.tpl"/>
	<file dir="template" path="default/main.tpl"/>
	<file dir="template" path="default/main-sideblock.tpl"/>
	<file dir="template" path="default/index.tpl"/>
	<file dir="template" path="default/widget/header.tpl"/>
	<file dir="template" path="default/widget/footer.tpl"/>
	<file dir="template" path="default/widget/messages.tpl"/>
	<file dir="template" path="default/widget/navigation.tpl"/>
	<file dir="template" path="default/widget/pagination.tpl"/>
	<file dir="template" path="default/widget/sideblock.tpl"/>
	<file dir="template" path="default/widget/menu-top.tpl"/>
	<file dir="template" path="default/widget/menu-bottom.tpl"/>
</install>

<locales>
        <locale name="ru">
                <field name="theme.bg" value="Фон сайта, картинка"/>
                <field name="theme.logo" value="Логотип, картинка"/>
				<field name="theme.css_path" value="Общий CSS файл"/>
				<field name="theme.js_path" value="Общий JavaScript файл"/>
				<field name="theme.include_font" value="Шрифт сайта"/>
				<field name="theme.copyright_text" value="Сopyright text line"/>
        </locale>
        <locale name="en">
                <field name="theme.bg" value="Website Background Image"/>
                <field name="theme.logo" value="Logo Image"/>
				<field name="theme.css_path" value="Global CSS file"/>
				<field name="theme.js_path" value="Global JavaScript file"/>
				<field name="theme.include_font" value="Font included globaly"/>
				<field name="theme.copyright_text" value="Сopyright text line"/>
        </locale>
</locales>
</document>