@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }


body {
  padding-top: 50px;
}

.navbar-brand {
	padding:0 !important;
}
.navbar-brand img {
	max-height:50px;
	height:auto;	
	width:100%;
}

.sub-header {
  padding-bottom: 10px;
}
.navbar-fixed-top {
  border: 0;
}

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > li > a:focus {
   background-color: #428bca;
   color:#fff;
}

.nav-sidebar2 {
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: -20px;
  background-color: #f0f0f0;
}
.nav-sidebar2 > li > a {
  padding-right: 20px;
  padding-left: 60px;
  color: #bebebe;
}
.nav-sidebar2 > .active > a,
.nav-sidebar2 > .active > a:hover,
.nav-sidebar2 > .active > a:focus {
  color: #000;
}
.nav-sidebar2 > li > a:hover {
   color:#000;
   background-color: #e0e0e0;
}




.subplus::after {
	content:"+";
}


.main {
  padding: 20px;
  background:#fff;
}

.btnCover {
    position: absolute;
    right: 0;
    margin-right: 65px;
    margin-top: -10px;
    background: #fff;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.admin-main-msv{

}

.admin-main-msv-list{
    padding-left: 0;
    list-style: none;
}

.admin-main-msv li {
    float: left;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}

.admin-main-msv .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 45px;
}

.admin-main-msv .admin-main-msv-title{
    display: block;
    text-align: center;
    word-wrap: break-word;	
    font-size: 20px;
}



#navuser {
	position:absolute;
	z-index:10000;
	background:#fff;
	width:150px;
}

#navnotif {
	position:absolute;
	z-index:10000;
	background:#fff;
	max-width:600px;
	max-height:450px;
	border:1px solid #bebebe;
	box-shadow: #bebebe 1px 1px 5px;
	padding:10px;
}
#navwebsite {
	position:absolute;
	z-index:10000;
	background:#fff;
	width:150px;
	border:1px solid #bebebe;
	box-shadow: #bebebe 1px 1px 5px;
}

#media_table {
	background:#fff;
	padding:10px 0;
}
.table>tbody>tr>th:hover {
	background:#ebebeb;
}


#uploadModal .modal-dialog, #libraryModal .modal-dialog {
   width:auto;
   max-width:80%;
}

#uploadModal .modal-header, #libraryModal .modal-header {
   padding: 15px 15px 0 15px;
}

.tab-content {
   padding: 15px 0;;
}

.input-path[readonly] {
	height: 22px;
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5;
	border: 0;
	    background-color:#fff;
}
/*
Copyright 2016 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.FlexGrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin:0 0 -1.5em -1.5em;
  padding: 0;
}

.FlexGrid-item {
  -webkit-box-flex:1;
  -webkit-flex:1 0 -webkit-calc(100% - 1.5em);
      -ms-flex:1 0 calc(100% - 1.5em);
          flex:1 0 calc(100% - 1.5em);
  margin:0 0 1.5em 1.5em;
}

.FlexGrid-item--fixed {
  /* An `auto` flex-basis will use the size of the contents. */
  -webkit-box-flex: 0!important;
  -webkit-flex: 0 0 auto!important;
      -ms-flex: 0 0 auto!important;
          flex: 0 0 auto!important;
}


/**
 * --halves modifier.
 * Ensures that an item never takes up more than half of the width, i.e.
 * no more that two items will ever be in a row.
 */
.FlexGrid--halves .FlexGrid-item {
  -webkit-flex-basis: 34%;
      -ms-flex-preferred-size: 34%;
          flex-basis: 34%;
}


@media (min-width: 570px) {
  .FlexGrid-item {
    -webkit-flex-basis:200px;
        -ms-flex-preferred-size:200px;
            flex-basis:200px;
  }
}

@media (min-width: 1024px) {
  .FlexGrid {
    margin:0 0 -2em -2em;
  }
  .FlexGrid-item {
    margin:0 0 2em 2em;
  }
}

/*
Copyright 2016 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.Dashboard {
  background: #fff;
  border:1px solid #d4d2d0;
  border-radius: 4px;
  max-width:52em;
  padding:1.5em;
}

.Dashboard-header {
  border-bottom:1px solid #d4d2d0;
}

.Dashboard-footer,.Dashboard-header{margin:-1.5em -1.5em 1.5em;padding:1.5em;}

.Dashboard-footer {
  border-top:1px solid #d4d2d0;
}

.Dashboard--full {
  max-width: 100%;
}

.Dashboard--collapseBottom {
  padding-bottom: 0;
}

@media (min-width: 1024px) {.Dashboard,.Dashboard-header{padding:2em;}.Dashboard-footer,.Dashboard-header{margin:-2em -2em 2em;}
  .Dashboard-footer {
    padding:1.5em;
  }

  .Dashboard--collapseBottom {
    padding-bottom:0.5em;
  }
}

/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.Chartjs {
  font-size: .85em;
}

.Chartjs-figure {
  height: 250px;
}

.Chartjs-legend {
  list-style: none;
  margin: 0;
  padding: 1em 0 0;
  text-align: center;
}

.Chartjs-legend > li {
  display: inline-block;
  padding: .25em .5em
}

.Chartjs-legend > li > i {
  display: inline-block;
  height: 1em;
  margin-right: .5em;
  vertical-align: -.1em;
  width: 1em;
}

@media (min-width: 570px) {
  .Chartjs-figure {
    /* Add some breathing room. */
    margin-right:1.5em;
  }
}
/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.Titles {
  font-weight: 300;
  /letter-spacing: -.03em;
  line-height: 1.2;
  margin:0 0 1.5em;
  /word-spacing: .2em;
}
.Titles-main,.Titles-sub {
  color: inherit;
  font: inherit;
  margin: 0;
}
.Titles-main {
  font-size: 1.4em;
}
.Titles-sub {
  opacity: .6;
  margin-top: .2em;
}
.Titles-action {
  background:hsl(16,87%,54%);
  border-radius: .25em;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  margin-top: .8em;
  padding: .3em .6em .2em;
  vertical-align: .4em;
}
.Titles-action:focus,.Titles-action:hover {
  text-decoration: none;
}


/**
 * `--hero` modifer
 * Creates a bigger set of titles for use in page headers. Also
 * inlines the main and subtitle in larger medias.
 */

.Titles--hero {
  color:#75787d;
}

.Titles--hero .Titles-main {
  font-size: 2.25em;
}
.Titles--hero .Titles-sub {
  font-size: 1.25em;
}

@media (min-width: 570px) {
  .Titles--hero {
    margin:1em 0 1.5em;
  }
  .Titles--hero .Titles-main {
    margin-right: .25em;
  }.Titles--hero .Titles-main,.Titles--hero .Titles-sub{display:inline-block;}
}

@media (min-width: 1024px) {
  .Titles--hero {
    margin: 4em 0 0;
  }
  .Titles--hero .Titles-main {
    font-size: 3em;
    margin-right: .5em;
  }
  .Titles--hero .Titles-sub {
    font-size: 1.75em;
  }
}

/**
 * ActiveUsers Component
 */

.ActiveUsers {
  background:hsl(30,10%,95%);
  border:1px solid #d4d2d0;
  border-radius: 4px;
  font-weight: 300;
  padding:.5em 1.5em;
  white-space: nowrap;
  font-size:18px;
}

.ActiveUsers-value {
  display: inline-block;
  font-weight: 600;
  margin-right: -.25em;
}

.ActiveUsers.is-increasing {
  -webkit-animation: increase 3s;
          animation: increase 3s;
}

.ActiveUsers.is-decreasing {
  -webkit-animation: decrease 3s;
          animation: decrease 3s;
}

@-webkit-keyframes increase {
  10% {
    background-color: hsl(120,100%,96%);
    border-color: hsla(120, 100%, 25%, .5);
    color: hsla(120, 100%, 25%, 1);
  }
}

@keyframes increase {
  10% {
    background-color: hsl(120,100%,96%);
    border-color: hsla(120, 100%, 25%, .5);
    color: hsla(120, 100%, 25%, 1);
  }
}

@-webkit-keyframes decrease {
  10% {
    background-color: hsl(0,100%,96%);
    border-color: hsla(0, 100%, 50%, .5);
    color: hsl(0,100%,50%);
  }
}

@keyframes decrease {
  10% {
    background-color: hsl(0,100%,96%);
    border-color: hsla(0, 100%, 50%, .5);
    color: hsl(0,100%,50%);
  }
}


/*
Copyright 2015 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.ViewSelector,.ViewSelector2 {
  display: block
}

.ViewSelector2-item,.ViewSelector table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}

.ViewSelector2-item > label,.ViewSelector td:first-child {
  font-weight: 700;
  margin: 0 .25em .25em 0;
  display: block;
}

.ViewSelector2-item > select {
  width: 100%;
}


/*
 * Additional hacks to get the native ViewSelector component (which uses
 * closure widgets) to look like our custom ViewSelector extension.
 */

.ViewSelector table,.ViewSelector tbody,.ViewSelector td,.ViewSelector tr {
  display: block;
}

.ViewSelector table {
  height: auto!important;
}

.ViewSelector table,.ViewSelector td{width:auto!important;}

.ViewSelector td:last-child * {
  display: block;
  text-align: left;
}

.ViewSelector td:last-child > div {
  font-weight: 400;
  margin: 0;
}

@media (min-width: 570px) {
  .ViewSelector,.ViewSelector2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 -1em -1em;
    width: -webkit-calc(100% + 1em);
    width: calc(100% + 1em);
  }

  .ViewSelector2-item,.ViewSelector table {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 -webkit-calc(100%/3 - 1em);
        -ms-flex: 1 1 calc(100%/3 - 1em);
            flex: 1 1 calc(100%/3 - 1em);
    margin-left: 1em;
  }
}

/*
 * Force each item onto its own line
 * regardless of the breakpoint.
 */
.ViewSelector2--stacked,.ViewSelector--stacked {
  display: block;
  margin: 0;
  width: auto;
}

.ViewSelector2--stacked .ViewSelector2-item,.ViewSelector--stacked table {
  margin-left: 0;
}

/* Utilities. */
.u-visuallyHidden {
  border: 0!important;
  clip: rect(1px,1px,1px,1px)!important;
  height: 1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}

/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/**
 * DateRangeSelector Component
 */

.DateRangeSelector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 0 -1em -1em;
}

.DateRangeSelector-item {
  margin: 0 0 1em 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 -webkit-calc(100% - 1em);
      -ms-flex: 1 0 calc(100% - 1em);
          flex: 1 0 calc(100% - 1em);
}

.DateRangeSelector-item > label {
  font-weight: 700;
  margin: 0 .25em .25em 0;
  display: block;
}

.DateRangeSelector-item > input {
  width: 100%;
}

@media (min-width: 570px) {
  .DateRangeSelector-item {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    min-width:150px;
  }
}










.mce-panel {
border:0!important;
}


fieldset.legend {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none
}

.img-container img {
	max-width:100%;
	
}


#uploadPreview {
	padding:5px;
	background-color:#bebebe;
	overflow:scroll;
}
#uploadPreview {
	max-height:500px;
}

.text-danger {
    font-weight: 500;
}
.text-warning {
    font-weight: 500;
}