body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight:300;
}

.breadcrumb {
	background: none;
	margin-bottom: 0px;
	padding: 0px 30px 25px 5px;
}

.link-dashed {
    border-bottom: dashed 1px #ccc;
    text-decoration: none;
    cursor:pointer;
}

.link-dashed:hover {
     border-bottom: dashed 1px #ccc;
}




/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



.form-group.required .control-label:after {
  content:"*";
  color:red;
}

text {
    background: #ECFCE3;
    color: #000;
    padding: 0;
    display: inline-block;
    border: 1px dashed #ccc;
}
textblock {
    background: #ECFCE3;
    color: #000;
    padding: 0;
    display: block;
    border: 1px dashed #ccc;
    margin-bottom: 20px;
}
mark.admin-btn {
    position: relative;
    z-index: 1000;
    left: 98%;
    top: -10px;
    border: 1px dashed #ccc;
}

.next_block {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}


