.header {
	padding-top:20px;
	background:#bb233a;
}
.content-block {
	background:#fff;
}
.contact-block {
	background:#666;
}
.contact-title {
	color:#fff;
	margin:10px 0;
}
.category-block {
	color: #999;
	text-transform:uppercase;
}
.category-block a {
	color: #999;
}
.category-block h4 {
	display:inline-block;
	margin-top: 10px;
    margin-bottom: 5px;
}
.category2-block {
	line-height: 3;
}
.article-media-block {
}
.article-info-block {
	margin-bottom:10px;
	margin-top:5px;
}
.article-description-block {
	margin-bottom:5px;
}
.article-more-block {
	text-align:right;
	margin-bottom:5px;
}
.articles-block h2 {
	display:inline-block;
	margin-top: 5px;
    margin-bottom: 5px;
}



.title-block {
	color:#fff;
	margin:10px 0;
}

.footer-copyright {
	background: #ddd;
}
.top-menu {
	background:#eee;
}


.link-dashed {
    border-bottom: dashed 1px #ccc;
    text-decoration: none;
    cursor:pointer;
}

.link-dashed:hover {
     border-bottom: dashed 1px #ccc;
}

.login-block a {
	color:#fff;
}

.sitemap-ico {
	width: 11px;
	height: 9px;
	background: url(/content/images/sitemap_ico.png) no-repeat;
	display: inline-block
	
}

.mail-ico {
	width: 11px;
	height: 9px;
	background: url(/content/images/mail_ico.png) no-repeat;
	display: inline-block
}

.header-menu p {
	margin: 0 0 5px;
}

.top-lang {
	font-family: Verdana;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
}

.top-lang a {
	color: #ffffff;
}

.navbar  {
	margin-bottom: 0px;
    min-height: inherit;
	
	
}

.navbar-nav > li > a {
	font-family: Verdana;
	color: #666666;
	font-size: 16.92px;
	line-height: 30px;
	transform: scale(1.064,1.064);
    padding-bottom: 0px;
    padding-top: 5px;
	border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
	border-bottom: 2px solid #ed1a3b;
    color:  #000;
	height: 38px 
}
.navbar-collapse {
	overflow: hidden
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
	border-bottom: 2px solid #ed1a3b;
	color:#000;
	height: 38px 
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default {
    border-color: transparent;
	background-color: transparent
}
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 9px 10px;
    position: relative;
}

.navigation {
	height: 40px;
	line-height: 40px;
	background-color: #e5e5e5;
	clear: both
}
.navigation ul {
	list-style: none;
	margin-left: -40px;
	
}
.navigation ul li {
	display: block;
	float: left
}
div.navigation a:hover {
	background: #F01735;
	color: #FFFFFF;    
}




.admin_pic {
	display: inline-block;
	background:url(/content/images/sitograph/admin_panel.png);
	width:12px;
	height:18px;
}


.admin_panel {
 position:absolute;
 top: 0;
 z-index:2000;
 background-color:#e6e6e6;
 top:0px;
 height:20px!important;
 border-bottom:1px solid #ccc; 
}
.admin_panel tr td {
    width: 50%;
    vertical-align: top;
    font-family: Verdana!important;
    padding-top: 3px;
    font-size: 13px;
}
.admin_panel p {
    font-size: 13px;
    color: #666666;
    font-family: Verdana!important;
    margin: 0px 0px 5px; 
}

.admin_panel a:hover {
    text-decoration:none;

}
.admin_mode_link:hover {
    color: #ffffff;
}
.admin_title {
    font-size:13px;
    font-family: Verdana!important; 
    margin-left:5px;
    text-decoration:none;
    color: #ee1a3b;
    width: 200px;
    white-space: nowrap;
    display: inline;
    padding:0px 3px; 
}
.admin_title:hover {
    background-color:#f01735;
    color: #ffffff;    
}