.search-result {
    margin: 30px 0px;
}
.no-left-padding {
    padding-left:0px
}
.search-result input[type="text"] {
    width: 100%;
}
.btn_more {
    text-align: center;
    cursor: pointer;
}
.btn_more:hover {
    text-decoration: underline;
}