body {
    background: #FFFFFF;
    margin: 0px;
}

body {
    font-family: Verdana;
    color: #333746;
}

form {
    margin: 0px;
    padding: 0px;
}
img {
    border: none;
}
img.block {
    display: block;
}
textarea {

}
input, textarea {
    outline: none;
}
a, .add_link {
    text-decoration: none;
    color:#ed2a45;
}

a:hover, .add_link:hover {
    text-decoration: underline;
}

.navi_title {
    font-family: Verdana;
    font-size: 24px;
    line-height: 36px;
    margin-left: 50px;
    text-shadow: 1px 1px #fff;
}

#login_form {
}
#login_form input {
    background-color: #F2F2F3;
    color: #666666;
    padding: 2px 3px 2px 3px;
    height: 28px;
    border-top: 1px solid #E7E7E8;
    border-left: 1px solid #E8E8E9;
    border-right: 1px solid #E7E7E8;
    border-bottom: 1px solid #F2F2F3;
}

#login_form .loginbtn {
    background: #ee1a3b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ee1a3b, #9b0820); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ee1a3b, #9b0820); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ee1a3b, #9b0820); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ee1a3b, #9b0820); /* Standard syntax */

    color: #fff;
    padding: 4px 15px 5px 15px;
    height: 28px;
    border-top: 1px solid #9b0820;
    border-left: 1px solid #9b0820;
    border-right: 1px solid #9b0820;
    border-bottom: 1px solid #9b0820;
    border-radius:1px;
}

#login_form_focus {
    border-top: 1px solid #A4A4A4;
}
#login_form_focus input {
    background-color: #FFFFFF;
    color: #000000;
    padding: 0px 3px 2px 3px;
    height: 23px;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #FFFFFF;
}

*html #login_form input, *html #login_form_focus input {
    margin-top: -1px;
    padding-top: 3px;
}


.block_name{
    color:#920b19;
    font-weight:bold;
    padding:5px 10px 5px 20px;
    background:url(/content/images/sitograph/block_name.gif) no-repeat;
    height:25px;
    width:100%;
}

.block_title{
    border-bottom:1px solid #c0c0c0;
    color:#03638f;
    background:url(/content/images/sitograph/block_plus.gif) 10px 0 no-repeat;
    padding:5px 5px 5px 35px;height:25px;
    margin-bottom:5px;
    margin-top:5px;
    cursor:pointer;
}
.block_title_a{
    font-weight:bold;
    color:#03638f;
    border-bottom:1px solid #c0c0c0;
    background:url(/content/images/sitograph/block_minus.gif) 10px 0  no-repeat;
    padding:5px 5px 5px 35px;
    height:25px;margin-bottom:5px;
    margin-top:5px;
    cursor:pointer;
}
.block_text{
    padding:5px 10px 20px 35px;
    border-bottom:1px solid #c0c0c0;
    display:none;
}

.admin_mode_link {
    font-size: 16px;
    line-height:18px;
    color: #FFFFFF;
}
.btn_fav {
    text-align: center;
    padding:5px;
}
.btn_fav a {
    color:#fff;
    font-size:18px;
    text-decoration: none;
}
.btn_fav:hover {
    background:#ed2a45;
}
#menu_left div, #menu_left div div {
    position: relative;
}
#menu_left div a {
    display: block;
    background: #E8E8E8;
    padding-left: 25px;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #D9D9D9;
    height: 37px;
    line-height:37px;
    text-decoration: none;
}
#menu_left div a p {
    font-size: 13px;
    color: #666;
}

.admin_crown {
    background: url(/content/images/sitograph/admin_crown.png) right center no-repeat;
    margin-right: 5px;
    padding-right: 25px;
    background-position: 100% 3px;
    display:inline-block;
    line-height:20px;
}

#menu_left div.mod_box a {
    background: url(/content/images/sitograph/menu_a_arrow.png) 10px center no-repeat #E8E8E8;
    padding-left: 25px;
}
#menu_left div.mod_box div {
    display: none;
}

#menu_left div.mod_box_active a {
    background: url(/content/images/sitograph/menu_a_arrow_active.png) 10px center no-repeat #E8E8E8;
    border-bottom: none;
}
#menu_left div.mod_box_active a p {
}
#menu_left div.mod_box_active div a {
    background: #d7d7d7;
    border: none;
    padding-left: 40px;
    height: 37px;
}
#menu_left div.mod_box_active{
}
#menu_left div a:hover, #menu_left div div a:hover {
    background-color: #FFFFFF;
}
#menu_left div.active a, #menu_left div div.active a {
    background: #333746 !important;
    border: none;
}
#menu_left div.active a p, #menu_left div div.active a p {
    color: #FFFFFF !important;
}

img#menu_active_arrow {
    position: absolute;
    left: 0px;
    top: 0px;
    left: 218px;
}



.block {
    margin-bottom: 5px;
    background: #f0f0f0;
    border: 1px solid black;
}
.tip {
    font-style:italic;
    font-size:11px;
    padding:5px;
}

input.big, select.big, textarea.big {width:95%;}
input.norm, select.norm, textarea.norm {width:45%;}

form {margin:0px;}

h1,h4 {
    color: #9d223a;
}

.add_link {
    padding:20px;
}
.doc_block {
    width:100%;
    margin-left:0px;
    padding: 10px 0;
}



#info_block {
    position: relative;
}
#info_block img {
    cursor: pointer;
}
#info_block div {
    background: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 10px;
    padding: 9px 12px 11px 12px;
    border: 1px solid #666666;
    font-family: Tahoma;
    font-size: 10px;
    /*    font-weight: bold; */
    color: #323232;
    display: none;
    width: 200px;
}
.no_visible {
    display:none;
}

/* lang */
ul.lang, ul.lang li {
    padding: 0px;
    margin: 0px;
}
ul.lang li {
    float: left;
    list-style: none;
}
ul.lang li a, ul.lang li span {
    display: block;
    text-transform:uppercase;
    text-decoration:none;
    padding: 3px 10px 5px 10px;
    color: #919191;
}
ul.lang li a:hover, ul.lang li span.active {
    background: #333333;
    color: #FFFFFF;
}

input.input_search {
    background: #F9F9F9;
    color: #777777;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    border-top: 1px solid #E3E3E3;
    border-right: none;
    border-bottom: 1px solid #FCFCFC;
    border-left: 1px solid #F0F0F0;
    height: 28px;
}
*html input.input_search {
    padding-top: 5px;
}

/* tab_menu */
.nav > li {
    margin-bottom: 5px;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
}
ul.nav li a {
    display: block;
    font-size: 17px;
    color: #747474;
    text-decoration: none;
    padding: 3px 15px;
}
.nav li a:hover, .nav li a:focus {
    border-color: transparent;
    background: #eeeeee;
    color: #ed2a45;
}
ul.nav li a:hover {
    color:#ed2a45;
}
.nav-tabs  li.active  a{
    background: #eeeeee;
    border-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: transparent;
    background: #eeeeee;
    border-bottom:1px solid #bd2037;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #ed2a45;
}

.tab-pane {
    background: rgba(0, 0, 0, 0) url("/content/images/sitograph/table_bg_1.gif") no-repeat scroll 0 0;
    background-color:#fff;
    padding: 20px 10px 10px 20px;
    background-size: 100% auto;
}

.tab-pane input[type="text"] {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    color: #7c7c7c;
    height: 30px;
    line-height: 25px;
    font-family: Verdana;
    border-radius: 4px;
}

.form-group-btn {
    text-align: left;
    margin-top: 20px;
}
.form-group-btn .btn {
    margin-right: 10px;
}

input.style_on_off {
    display: none;
}
.checkbox_btn {
    background: url('/content/images/sitograph/checkbox.gif') center top no-repeat;
    width: 17px;
    height: 8px;
    cursor: pointer;
}
.checkbox_text {
    font-size: 10px;
    color: #999999;
    padding-bottom: 3px;
    width: 25px;
}

table.table-module tr:first-child th  {
    background: #333746;
}
table.table-module tr:first-child th a, table.table-module tr:first-child th {
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
}
table.table-module tr td:last-child, table.table-module tr:first-child th:last-child {
    text-align: right;
    padding:4px;
}
table.table-module tr:first-child th:last-child {
    padding: 8px;
}
table.table-module tr:first-child th:first-child {
    width:50px;
}

table.table-module .colactive {
    background:#ed2a45!important;
}

.form-inline .form-control {
    padding:0px 10px
}

.form-control {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 1px #eeeeee;
}

.form-control-text {
    background: #fff !important;
    border: 0 !important;
    display: inline;
    width: 70%;
}

.mce-tinymce {
    border: 1px dashed #333746!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #eeeeee !important;;
}

.table-module .btn {
    padding:2px 8px;
    margin: 2px 0px 2px 5px;
}
.btn:hover, .btn:active, .btn:focus, .btn:active:hover {
    background-color: transparent;
    border-color: #ed2a45;
    color:#ed2a45;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:active, .btn-primary:active:hover {
    background-color: #ed2a45;
    color:#fff;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:active, .btn-warning:active:hover {
    background-color: rgba(236,151,31,.2);
}
.btn-danger:hover, .btn-danger:active, .btn-danger:active, .btn-danger:active:hover{
    background-color: rgba(201,48,44,.2);
}
.btn-info:hover, .btn-info:active, .btn-info:active, .btn-info:active:hover {
    background-color: rgba(49,176,213,.2);
}

.btn-primary .glyphicon {
    color:#333746;
}
.btn-primary:hover .glyphicon, .btn-primary:active .glyphicon, .btn-primary:active .glyphicon  {
    color:#fff;
}

.btn-danger .glyphicon {
    color:#ed2a45;
}

.btn-info .glyphicon {
    color:#269abc;
}

.list-btn {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin-bottom: 2px;
}
.list-btn>li {
    display: inline-block;
}

.form-horizontal .control-label {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
    margin-bottom:5px;
}

.input_str_small {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    height: 25px;
    color:#7c7c7c;
    line-height: 30px;
    width: 285px;
    padding-left: 10px;
}

.input_str_big {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    height: 25px;
    color:#7c7c7c;
    line-height: 30px;
    width: 700px;
    padding-left: 10px;
}

.text_block_big {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    color:#7c7c7c;
    line-height: 30px;
    width: 1000px;
    padding-left: 10px;
}

.doc_edit_block {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    color:#7c7c7c;
    width: 1000px;
    padding-left: 10px;
}
.input_select_small {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    height: 25px;
    color:#7c7c7c;
    line-height: 25px;
    width: 285px;
    padding-left: 10px;
    padding-top:3px;
}

.input_int_small {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    height: 25px;
    color:#7c7c7c;
    line-height: 30px;
    width: 285px;
    padding-left: 10px;
}

.input_select_big {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    height: 25px;
    color:#7c7c7c;
    line-height: 30px;
    width: 700px;
    padding-left: 10px;
}

.item_lable {
    color:#999999;
    font-size: 12px;
    line-height: 24px;
}

div.btn_group {
    background: url('/content/images/sitograph/btn_bg_p_1.gif') left top no-repeat #E8E8E8;
}
div.btn_group div {
    background: url('/content/images/sitograph/btn_bg_p_2.gif') right top no-repeat;
}
div.btn_group tr td input {
    background: #F9F9F9;
    border-top: 1px solid #FBFBFB;
    border-right: 1px solid #F1F1F1;
    border-bottom: 1px solid #B7B7B7;
    border-left: 1px solid #F1F1F1;

    padding: 6px 10px 9px 10px;
    margin: 0px;
    cursor: pointer;
}
*html div.btn_group tr td input {
    padding: 6px 0px 7px 0px;
}

div.btn_group tr td input:hover {
    color: #ffffff;
    background: #cccccc;
    border-color: #cccccc;
}


.filter_block {
    margin-top: 20px;
    padding:20px;
    width: 470px;
    height:150px;
    background-color: #f9f9f9;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;

}
.filter_block input[type="text"] {
    height: 30px;
    width: 300px;
}
.filter_block .search_header {
    height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #000;
    line-height: 30px;
}
.filter_block .search_table {
    margin-left: 20px;
    margin-top: 15px;
}
.btn_Ok {
    width:67px;
    height: 38px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #e8e8e8;
}
.btn_Ok input {
    margin:3px;
    border: none;
    border-bottom: 1px solid #b7b7b7;
    background-color: #f9f9f9;
    width: 61px;
    height:32px;
    color:#000;
    color: #747474;
}
.btn_Ok input:hover {
    background-color: #e8e8e8;
}

*html .filter_block, .btn_Ok{
    behavior: url(/include/js/PIE.php);
}

/* multiselect*/
.all-multiselect {width:300px; position:absolute; z-index:10;margin-top: -10px; background: #f9f9f9;}

.lable-block {width:225px; height:23px; border: 1px solid #cdcdcd;}
.lable-text {padding-left:5px; line-height: 23px;}
.lable-image {float:right; background:#f9f9f9 url(images/sel.png);width:13px; height:23px; border-left: 1px solid #cdcdcd;border-bottom: 1px solid #cdcdcd;}
.lable-image-hover {float:right; background:#f9f9f9 url(images/sel.png);  width:13px; height:23px;border-left: 1px solid #cdcdcd;border-bottom: 1px solid #cdcdcd;}

.select-box {width:225px;border:1px solid #cdcdcd; border-top: none;background-color: #f9f9f9;margin-top: -1px;}
.select-block {width:100%;}
.check-box {width:100%; height:75px; overflow-y: scroll; overflow-x: hidden;padding: 10px 0px; margin-bottom: 5px;}



.check-lable-image {padding-left:20px; height:30px;list-style:none; background-image:url(images/unchesked.png); display: block; background-repeat: no-repeat; border:none;}
.check-lable-image-selected {padding-left:20px; height:30px;list-style:none; background-image:url(images/chesked.png); display: block; background-repeat: no-repeat; border: none;}
.check-lable-text {text-decoration:none; color:#7c7c7c;}
.check-lable {width:100%;padding:0px 0px 0px 5px; line-height:11px;margin:0 0 0 0; color:#7c7c7c; font-size: 12px;}
.check-lable-selected {height:30px; width:100%; }
.check-lable li span {cursor:pointer;color:#7c7c7c;}
#multiselect li span {cursor:pointer;color:#7c7c7c;}


.mceEditor {
    height:700px!important;
}
.mceLayout {
    height:700px!important;
    border: none!important;
}
.mceIframeContainer {
    border: 1px solid #cccccc!important;
}

.edit_btn {
    width: 14px;
    height: 14px;
    border:none;
    background:transparent url(images/btn_edit_sp.png) no-repeat;
    margin:0px;
    padding:0px;
}

.del_btn {
    width: 14px;
    height: 14px;
    border:none;
    background:transparent url(images/btn_del_sp.png) no-repeat;
    margin:0px;
    padding:0px;
}


.btn_del_no_active {
    width: 14px;
    height: 14px;
    border:none;
    background:transparent url(images/btn_del_sp.png) 0px -14px no-repeat;
    margin:0px;
    padding:0px;
}
.modules_btn {
    width: 16px;
    height: 16px;
    border:none;
    background:transparent url(images/module_sp.png) no-repeat;
    margin:0px;
    padding:0px;
}
.modules_btn:hover {
    background-position: 0 -16px;
}

.add_sub {
    width: 14px;
    height: 14px;
    border:none;
    background:transparent url(images/sub_add_sp.png) no-repeat;
    margin:0px;
    padding:0px;
}

.edit_btn:hover, .del_btn:hover, .add_sub:hover {
    background-position: 0 -14px;
}

.btnCover {
    position:absolute;
    right:0;
    z-index: 99;
}
.btnCover div {
    position:relative;
    right:35px;
    top:-13px;
    padding:3px;
    background:#fff;
    border-radius:5px;
}
.btnCover a {
    line-height:25px;font-size:14px;
}

.table-module th {
    max-width:100px;
    overflow:hidden;
}

.nav>li>a {
    font-size: 14px;
}




/*
Copyright 2016 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.FlexGrid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin:0 0 -1.5em -1.5em;
    padding: 0;
}

.FlexGrid-item {
    -webkit-box-flex:1;
    -webkit-flex:1 0 -webkit-calc(100% - 1.5em);
    -ms-flex:1 0 calc(100% - 1.5em);
    flex:1 0 calc(100% - 1.5em);
    margin:0 0 1.5em 1.5em;
}

.FlexGrid-item--fixed {
    /* An `auto` flex-basis will use the size of the contents. */
    -webkit-box-flex: 0!important;
    -webkit-flex: 0 0 auto!important;
    -ms-flex: 0 0 auto!important;
    flex: 0 0 auto!important;
}


/**
 * --halves modifier.
 * Ensures that an item never takes up more than half of the width, i.e.
 * no more that two items will ever be in a row.
 */
.FlexGrid--halves .FlexGrid-item {
    -webkit-flex-basis: 34%;
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%;
}


@media (min-width: 570px) {
    .FlexGrid-item {
        -webkit-flex-basis:200px;
        -ms-flex-preferred-size:200px;
        flex-basis:200px;
    }
}

@media (min-width: 1024px) {
    .FlexGrid {
        margin:0 0 -2em -2em;
    }
    .FlexGrid-item {
        margin:0 0 2em 2em;
    }
}

/*
Copyright 2016 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.Dashboard {
    background: #fff;
    border:1px solid #d4d2d0;
    border-radius: 4px;
    max-width:52em;
    padding:1.5em;
}

.Dashboard-header {
    border-bottom:1px solid #d4d2d0;
}

.Dashboard-footer,.Dashboard-header{margin:-1.5em -1.5em 1.5em;padding:1.5em;}

.Dashboard-footer {
    border-top:1px solid #d4d2d0;
}

.Dashboard--full {
    max-width: 100%;
}

.Dashboard--collapseBottom {
    padding-bottom: 0;
}

@media (min-width: 1024px) {.Dashboard,.Dashboard-header{padding:2em;}.Dashboard-footer,.Dashboard-header{margin:-2em -2em 2em;}
    .Dashboard-footer {
        padding:1.5em;
    }

    .Dashboard--collapseBottom {
        padding-bottom:0.5em;
    }
}

/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.Chartjs {
    font-size: .85em;
}

.Chartjs-figure {
    height: 250px;
}

.Chartjs-legend {
    list-style: none;
    margin: 0;
    padding: 1em 0 0;
    text-align: center;
}

.Chartjs-legend > li {
    display: inline-block;
    padding: .25em .5em
}

.Chartjs-legend > li > i {
    display: inline-block;
    height: 1em;
    margin-right: .5em;
    vertical-align: -.1em;
    width: 1em;
}

@media (min-width: 570px) {
    .Chartjs-figure {
        /* Add some breathing room. */
        margin-right:1.5em;
    }
}
/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.Titles {
    font-weight: 300;
/letter-spacing: -.03em;
    line-height: 1.2;
    margin:0 0 1.5em;
/word-spacing: .2em;
}
.Titles-main,.Titles-sub {
    color: inherit;
    font: inherit;
    margin: 0;
}
.Titles-main {
    font-size: 1.4em;
}
.Titles-sub {
    opacity: .6;
    margin-top: .2em;
}
.Titles-action {
    background:hsl(16,87%,54%);
    border-radius: .25em;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    margin-top: .8em;
    padding: .3em .6em .2em;
    vertical-align: .4em;
}
.Titles-action:focus,.Titles-action:hover {
    text-decoration: none;
}


/**
 * `--hero` modifer
 * Creates a bigger set of titles for use in page headers. Also
 * inlines the main and subtitle in larger medias.
 */

.Titles--hero {
    color:#75787d;
}

.Titles--hero .Titles-main {
    font-size: 2.25em;
}
.Titles--hero .Titles-sub {
    font-size: 1.25em;
}

@media (min-width: 570px) {
    .Titles--hero {
        margin:1em 0 1.5em;
    }
    .Titles--hero .Titles-main {
        margin-right: .25em;
    }.Titles--hero .Titles-main,.Titles--hero .Titles-sub{display:inline-block;}
}

@media (min-width: 1024px) {
    .Titles--hero {
        margin: 4em 0 0;
    }
    .Titles--hero .Titles-main {
        font-size: 3em;
        margin-right: .5em;
    }
    .Titles--hero .Titles-sub {
        font-size: 1.75em;
    }
}

/**
 * ActiveUsers Component
 */

.ActiveUsers {
    background:hsl(30,10%,95%);
    border:1px solid #d4d2d0;
    border-radius: 4px;
    font-weight: 300;
    padding:.5em 1.5em;
    white-space: nowrap;
    font-size:18px;
}

.ActiveUsers-value {
    display: inline-block;
    font-weight: 600;
    margin-right: -.25em;
}

.ActiveUsers.is-increasing {
    -webkit-animation: increase 3s;
    animation: increase 3s;
}

.ActiveUsers.is-decreasing {
    -webkit-animation: decrease 3s;
    animation: decrease 3s;
}

@-webkit-keyframes increase {
    10% {
        background-color: hsl(120,100%,96%);
        border-color: hsla(120, 100%, 25%, .5);
        color: hsla(120, 100%, 25%, 1);
    }
}

@keyframes increase {
    10% {
        background-color: hsl(120,100%,96%);
        border-color: hsla(120, 100%, 25%, .5);
        color: hsla(120, 100%, 25%, 1);
    }
}

@-webkit-keyframes decrease {
    10% {
        background-color: hsl(0,100%,96%);
        border-color: hsla(0, 100%, 50%, .5);
        color: hsl(0,100%,50%);
    }
}

@keyframes decrease {
    10% {
        background-color: hsl(0,100%,96%);
        border-color: hsla(0, 100%, 50%, .5);
        color: hsl(0,100%,50%);
    }
}


/*
Copyright 2015 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.ViewSelector,.ViewSelector2 {
    display: block
}

.ViewSelector2-item,.ViewSelector table {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

.ViewSelector2-item > label,.ViewSelector td:first-child {
    font-weight: 700;
    margin: 0 .25em .25em 0;
    display: block;
}

.ViewSelector2-item > select {
    width: 100%;
}


/*
 * Additional hacks to get the native ViewSelector component (which uses
 * closure widgets) to look like our custom ViewSelector extension.
 */

.ViewSelector table,.ViewSelector tbody,.ViewSelector td,.ViewSelector tr {
    display: block;
}

.ViewSelector table {
    height: auto!important;
}

.ViewSelector table,.ViewSelector td{width:auto!important;}

.ViewSelector td:last-child * {
    display: block;
    text-align: left;
}

.ViewSelector td:last-child > div {
    font-weight: 400;
    margin: 0;
}

@media (min-width: 570px) {
    .ViewSelector,.ViewSelector2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 -1em -1em;
        width: -webkit-calc(100% + 1em);
        width: calc(100% + 1em);
    }

    .ViewSelector2-item,.ViewSelector table {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 -webkit-calc(100%/3 - 1em);
        -ms-flex: 1 1 calc(100%/3 - 1em);
        flex: 1 1 calc(100%/3 - 1em);
        margin-left: 1em;
    }
}

/*
 * Force each item onto its own line
 * regardless of the breakpoint.
 */
.ViewSelector2--stacked,.ViewSelector--stacked {
    display: block;
    margin: 0;
    width: auto;
}

.ViewSelector2--stacked .ViewSelector2-item,.ViewSelector--stacked table {
    margin-left: 0;
}

/* Utilities. */
.u-visuallyHidden {
    border: 0!important;
    clip: rect(1px,1px,1px,1px)!important;
    height: 1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}

/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/**
 * DateRangeSelector Component
 */

.DateRangeSelector {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 -1em -1em;
}

.DateRangeSelector-item {
    margin: 0 0 1em 1em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% - 1em);
    -ms-flex: 1 0 calc(100% - 1em);
    flex: 1 0 calc(100% - 1em);
}

.DateRangeSelector-item > label {
    font-weight: 700;
    margin: 0 .25em .25em 0;
    display: block;
}

.DateRangeSelector-item > input {
    width: 100%;
}

@media (min-width: 570px) {
    .DateRangeSelector-item {
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        min-width:150px;
    }
}




fieldset.legend {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none
}

.img-container img {
    min-width:100px;
    min-height:100px;
    max-width:100%;
    max-height:600px;
    border: 1px dashed #333746;
    box-shadow: 1px 1px 1px #333746;
    margin-bottom:10px;
    cursor:pointer;
}
.img-container img:hover {
    opacity:0.5;
}

#uploadPreview {
    padding:5px;
    background-color:#bebebe;
    overflow:scroll;
}

#uploadModal .modal-dialog, #libraryModal .modal-dialog {
    width:auto;
    max-width:80%;
}

#uploadModal .modal-header, #libraryModal .modal-header {
    padding: 15px 15px 0 15px;
}
#search_toogle {
    margin-top:20px;
    text-align: right;
}

.field-help {
    color:#a94442;
    margin-left:10px;
}

.footer_bg {
    background: #ededed;
    background: -webkit-linear-gradient(left, #ededed , #fff);
    background: -o-linear-gradient(right, #ededed, #fff);
    background: -moz-linear-gradient(right, #ededed, #fff);
    background: linear-gradient(to right, #ededed , #fff);
}
.header_bg {
    background: #ededed;
    background: -webkit-linear-gradient(left, #ededed , #fff);
    background: -o-linear-gradient(right, #ededed, #fff);
    background: -moz-linear-gradient(right, #ededed, #fff);
    background: linear-gradient(to right, #ededed , #fff);
}
.input_search_bg {
    background: #ededed;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) , #ededed);
    background: -o-linear-gradient(right, rgba(255,255,255,0), #ededed);
    background: -moz-linear-gradient(right, rgba(255,255,255,0), #ededed);
    background: linear-gradient(to right, rgba(255,255,255,0) , #ededed);
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-top: 2px;
}

.btn-primary,.btn-danger,.btn-info,.btn-warning, .btn-default {
    background: transparent;
    border-color: #f1f1f1 #e8e8e8 #b7b7b7;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    color: #333746;
    font-family: Verdana;
}

.infowell {
    min-height: 20px;
    padding: 10px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.spin {
    -webkit-transform-origin: 50% 58%;
    transform-origin:50% 58%;
    -ms-transform-origin:50% 58%; /* IE 9 */
    -webkit-animation: spin 0.5s infinite linear;
    -moz-animation: spin 0.5s infinite linear;
    -o-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 14px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    left: 1px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #333746;
}

input:focus + .slider {
    box-shadow: 0 0 1px #333746;
}

input:checked + .slider:before {
    -webkit-transsform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}