<?xml version='1.0'?> 
<document>

<config>
	<param name="activationUrl" value="/admin/"/>
	<param name="activationLevel" value="8"/>
	<param name="adminMenu" value="0"/>
</config>


<install>
	<param name="name" value="admin-mcg" />
	<param name="version" value="1.0"/>
	<param name="date" value="01.06.2016"/>
	<param name="title" value="MCG Сайтограф"/>
	<param name="description" value="MCG Сайтограф"/>
	
	<param name="installHook" value="AdminMCGInstall"/>
	
	<dependency module="msv-core" version="1.0" />
	<dependency module="msv-api" version="1.0" />
	
	<file dir="module" path="admin-mcg/admin-mcg.php"/>
	<file dir="module" path="admin-mcg/config-menu.php"/>
	<file dir="module" path="admin-mcg/module-table.php"/>
	<file dir="module" path="admin-mcg/module-robots.php"/>
	<file dir="module" path="admin-mcg/module-structure.php"/>
	<file dir="module" path="admin-mcg/module-locales.php"/>
	<file dir="module" path="admin-mcg/module-docs.php"/>
	<file dir="module" path="admin-mcg/module-manual.php"/>
	<file dir="module" path="admin-mcg/module-sitemap.php"/>
	<file dir="module" path="admin-mcg/module-catalog.php"/>
	<file dir="module" path="admin-mcg/module-comments.php"/>
	<file dir="module" path="admin-mcg/module-search.php"/>
	<file dir="module" path="admin-mcg/config.xml"/>
	
	<file dir="template" path="default/admin/list-table.tpl"/>
	<file dir="template" path="default/admin/form-table.tpl"/>
	<file dir="template" path="default/admin/field-form.tpl"/>
	<file dir="template" path="default/admin/fields/field-bool.tpl"/>
	<file dir="template" path="default/admin/fields/field-default.tpl"/>
	<file dir="template" path="default/admin/fields/field-text.tpl"/>
	<file dir="template" path="default/admin/fields/field-doc.tpl"/>
	<file dir="template" path="default/admin/fields/field-lang.tpl"/>
	<file dir="template" path="default/admin/fields/field-updated.tpl"/>
	<file dir="template" path="default/admin/fields/field-select.tpl"/>
	<file dir="template" path="default/admin/fields/field-date.tpl"/>
	<file dir="template" path="default/admin/fields/field-picture.tpl"/>
	<file dir="template" path="default/admin/fields/field-file.tpl"/>
	
	<file dir="template" path="default/admin-mcg.tpl"/>
	<file dir="template" path="default/admin-mcg-login.tpl"/>
	<file dir="template" path="default/admin-mcg/design.tpl"/>
	<file dir="template" path="default/admin-mcg/documents.tpl"/>
	<file dir="template" path="default/admin-mcg/files_and_doc.tpl"/>
	<file dir="template" path="default/admin-mcg/history.tpl"/>
	<file dir="template" path="default/admin-mcg/index.tpl"/>
	<file dir="template" path="default/admin-mcg/mail_template.tpl"/>
	<file dir="template" path="default/admin-mcg/locales.tpl"/>
	<file dir="template" path="default/admin-mcg/module_settings.tpl"/>
	<file dir="template" path="default/admin-mcg/robots.tpl"/>
	<file dir="template" path="default/admin-mcg/seo.tpl"/>
	<file dir="template" path="default/admin-mcg/site_settings.tpl"/>
	<file dir="template" path="default/admin-mcg/stat.tpl"/>
	<file dir="template" path="default/admin-mcg/search.tpl"/>
	<file dir="template" path="default/admin-mcg/structure.tpl"/>
	<file dir="template" path="default/admin-mcg/users.tpl"/>
	<file dir="template" path="default/admin-mcg/menu.tpl"/>
	<file dir="template" path="default/admin-mcg/sitemap.tpl"/>
	<file dir="template" path="default/admin-mcg/manual.tpl"/>
	<file dir="template" path="default/admin-mcg/menu/edit.tpl"/>
	<file dir="template" path="default/admin-mcg/menu/list.tpl"/>
	<file dir="template" path="default/admin-mcg/documents/edit.tpl"/>
	<file dir="template" path="default/admin-mcg/documents/list.tpl"/>
	<file dir="template" path="default/admin-mcg/custom.tpl"/>
	<file dir="template" path="default/admin-mcg/custom/edit.tpl"/>
	<file dir="template" path="default/admin-mcg/custom/list.tpl"/>
	<file dir="template" path="default/admin-mcg/custom/list-table.tpl"/>
	<file dir="template" path="default/admin-mcg/site_settings/edit.tpl"/>
	<file dir="template" path="default/admin-mcg/site_settings/list.tpl"/>
	<file dir="template" path="default/admin-mcg/structure/edit.tpl"/>
	<file dir="template" path="default/admin-mcg/structure/list.tpl"/>
	<file dir="template" path="default/admin-mcg/structure/list-level.tpl"/>
	<file dir="template" path="default/admin-mcg/structure/list-level2.tpl"/>
	<file dir="template" path="default/admin-mcg/users/edit.tpl"/>
	<file dir="template" path="default/admin-mcg/users/list.tpl"/>
	<file dir="template" path="default/admin-mcg/seo/edit.tpl"/>
	<file dir="template" path="default/admin-mcg/seo/list.tpl"/>
	<file dir="template" path="default/admin-mcg/mail_template/edit.tpl"/>
	<file dir="template" path="default/admin-mcg/mail_template/list.tpl"/>
	
	<file dir="content" path="css/admin-mcg.css"/>
	<file dir="content" path="js/admin-mcg.js"/>
	<file dir="content" path="js/admin.js"/>
	<file dir="content" path="images/adminmcg/admin_crown.png"/>
	<file dir="content" path="images/adminmcg/av_pic.gif"/>
	<file dir="content" path="images/adminmcg/bg.gif"/>
	<file dir="content" path="images/adminmcg/btn_login.gif"/>
	<file dir="content" path="images/adminmcg/btn_search.gif"/>
	<file dir="content" path="images/adminmcg/heder_bg.gif"/>
	<file dir="content" path="images/adminmcg/index_text.png"/>
	<file dir="content" path="images/adminmcg/lang_bg.gif"/>
	<file dir="content" path="images/adminmcg/login_plain.png"/>
	<file dir="content" path="images/adminmcg/logo-new.png"/>
	<file dir="content" path="images/adminmcg/logo.gif"/>
	<file dir="content" path="images/adminmcg/logo_mcg_part_1.gif"/>
	<file dir="content" path="images/adminmcg/logo_mcg_part_2.gif"/>
	<file dir="content" path="images/adminmcg/menu_a_arrow.png"/>
	<file dir="content" path="images/adminmcg/menu_a_arrow_active.png"/>
	<file dir="content" path="images/adminmcg/menu_h33px.gif"/>
	<file dir="content" path="images/adminmcg/menu_h37px.gif"/>
	<file dir="content" path="images/adminmcg/menu_left_bg.gif"/>
	<file dir="content" path="images/adminmcg/menu_left_img_bottom_1.gif"/>
	<file dir="content" path="images/adminmcg/menu_left_img_bottom_2.gif"/>
	<file dir="content" path="images/adminmcg/menu_left_img_top.gif"/>
	<file dir="content" path="images/adminmcg/menu_left_img_top_1.gif"/>
	<file dir="content" path="images/adminmcg/menu_left_img_top_2.gif"/>
	<file dir="content" path="images/adminmcg/block_minus.gif"/>
	<file dir="content" path="images/adminmcg/block_plus.gif"/>
	<file dir="content" path="images/adminmcg/block_name.gif"/>
	<file dir="content" path="images/adminmcg/tab_menu_bg.gif"/>
	<file dir="content" path="images/adminmcg/table_bg_1.gif"/>
    
</install>


<locales>
	<locale name="ru">
		<field name="msg.module_handler_not_found" value="Не найден обработчик модуля"/>
		<field name="msg.no_stored_image" value="Изображение не загружено"/>
		<field name="btn.remove_link" value="Удалить ссылку на файл"/>
		<field name="btn.upload_file" value="Загрузить файл"/>
		<field name="btn.generate" value="Сгенерировать"/>
		<field name="btn.export_table" value="Экспорт таблицы"/>
		<field name="btn.goto" value="Перейти к"/>
		<field name="msg.sitemap_generated" value="Sitemap.xml успешно создан"/>
		<field name="title.upload_files" value="Загрузить файлы в "/>
		<field name="title.upload_step1" value="1. Выберите файл"/>
		<field name="title.upload_step2" value="2. Файл будет загружен на сервер"/>
		<field name="title.upload_step3" value="3. Нажмите Сохранить"/>
		<field name="form.file" value="Файл:"/>
		<field name="form.server_path" value="Путь на севвере"/>
		<field name="form.select_file" value="Выберете файлы"/>
		<field name="form.image_max_size" value="Размер"/>
		
		<field name="admin.filename" value="Имя файла"/>
		<field name="admin.filetype" value="Тип"/>
		<field name="admin.filepreview" value="Просмотр"/>
		<field name="admin.fileaccess" value="Доступ"/>
		<field name="admin.homepage" value="Главная"/>
		<field name="admin.homepage_title" value="Главная {HOST}"/>
		<field name="admin.users" value="Пользователи сайта"/>
		<field name="admin.users_title" value="Список пользователей сайта"/>
		<field name="admin.structure" value="Структура сайта"/>
		<field name="admin.structure_title" value="Структура сайта {HOST}"/>
		<field name="admin.menu" value="Меню"/>
		<field name="admin.menu_title" value="Управление меню сайта"/>
		<field name="admin.documents" value="Документы"/>
		<field name="admin.documents_title" value="Документы"/>
		<field name="admin.files_and_doc" value="Файлы и документы"/>
		<field name="admin.files_and_doc_title" value="Менеджер файлов и документов"/>
		<field name="admin.site_settings" value="Настройки сайта"/>
		<field name="admin.site_settings_title" value="Настройки сайта"/>
		<field name="admin.locales" value="Языки и тексты"/>
		<field name="admin.locales_title" value="Языки и тексты"/>
		<field name="admin.mail_template" value="Шаблоны писем"/>
		<field name="admin.mail_template_title" value="Шаблоны писем"/>
		<field name="admin.stat" value="Статистика просмотров"/>
		<field name="admin.stat_title" value="Статистика просмотров для {HOST}"/>
		<field name="admin.seo" value="SEO"/>
		<field name="admin.seo_title" value="SEO сайта"/>
		<field name="admin.robots" value="Управление robots.txt"/>
		<field name="admin.robots_title" value="Файл robots.txt"/>
		<field name="admin.module_settings" value="Управление модулями сайта"/>
		<field name="admin.module_settings_title" value="Управление модулями сайта"/>
        <field name="admin.module_catalog" value="Загрузка каталога из 1С"/>
        <field name="admin.module_catalog_title" value="Загрузка каталога из 1С"/>
        
        <field name="admin.module_comments" value="Комментарии"/>
        <field name="admin.module_comments_title" value="Комментарии"/>
        
        <field name="admin.module_search" value="Поиск"/>
        <field name="admin.module_search_title" value="Поиск"/>
        
		<field name="admin.design" value="Дизайны"/>
		<field name="admin.design_title" value="Дизайны"/>
		<field name="admin.history" value="История сессий"/>
		<field name="admin.history_title" value="История сессий вользоателей"/>
		<field name="admin.locale_param" value="Название переменной"/>
		<field name="admin.locale_value" value="Значение"/>
		<field name="admin.robots_example_open" value="Пример открытого сайта:"/>
		<field name="admin.robots_example_closed" value="Пример закрытого сайта:"/>
		<field name="admin.robots_example_seo" value="Пример для SEO:"/>
		<field name="admin.realtime" value="Онлайн аналитика"/>
		<field name="admin.analytics" value="Аналитика сайта"/>
		<field name="admin.social" value="Экспорт соц. сетей"/>
		<field name="admin.manual" value="Инструкция использования"/>
		<field name="admin.structure_manage" value="Управление структурой"/>
		<field name="admin.media_library" value="Хранилище файлов"/>
		<field name="admin.dev_tools" value="Настройки"/>
		<field name="admin.sitemap" value="Управление sitemap.xml"/>
		<field name="admin.manual_title" value="Инструкция"/>
	</locale>
	<locale name="en">
		<field name="msg.module_handler_not_found" value="Module handler not found"/>
		<field name="msg.no_stored_image" value="No stored image"/>
		<field name="msg.sitemap_generated" value="Sitemap.xml successfully created"/>
		<field name="btn.remove_link" value="Remove Link"/>
		<field name="btn.upload_file" value="Upload file"/>
		<field name="btn.generate" value="Generate"/>
		<field name="btn.export_table" value="Export table"/>
		<field name="btn.goto" value="Goto"/>
		<field name="title.upload_files" value="Upload files"/>
		<field name="title.upload_step1" value="1. Select file"/>
		<field name="title.upload_step2" value="2. File uploaded automatically"/>
		<field name="title.upload_step3" value="3. Click Save"/>
		<field name="form.file" value="File:"/>
		<field name="form.server_path" value="Server path"/>
		<field name="form.select_file" value="Select file"/>
		<field name="form.image_max_size" value="Image max size"/>
		
		<field name="admin.filename" value="Name"/>
		<field name="admin.filetype" value="Type"/>
		<field name="admin.filepreview" value="Preview"/>
		<field name="admin.fileaccess" value="Access"/>
		<field name="admin.homepage" value="Admin Dashboard"/>
		<field name="admin.homepage_title" value="Admin Homepage {HOST}"/>
		<field name="admin.users" value="Users"/>
		<field name="admin.users_title" value="List of Website Users"/>
		<field name="admin.structure" value="Structure and pages"/>
		<field name="admin.structure_title" value="Website Structure {HOST}"/>
		<field name="admin.menu" value="Menu"/>
		<field name="admin.menu_title" value="Website Menu Manage"/>
		<field name="admin.documents" value="Documents"/>
		<field name="admin.documents_title" value="List of Documents"/>
		<field name="admin.files_and_doc" value="File Manager"/>
		<field name="admin.files_and_doc_title" value="File Manager"/>
		<field name="admin.site_settings" value="Site Settings"/>
		<field name="admin.site_settings_title" value="Site Settings"/>
		<field name="admin.locales" value="Locales and texts"/>
		<field name="admin.locales_title" value="Locales and texts"/>
		<field name="admin.mail_template" value="Email Templates"/>
		<field name="admin.mail_template_title" value="Email Templates"/>
		<field name="admin.stat" value="Analytics"/>
		<field name="admin.stat_title" value="Analytics for {HOST}"/>
		<field name="admin.seo" value="SEO"/>
		<field name="admin.seo_title" value="SEO for {HOST}"/>
		<field name="admin.robots" value="Manage robots.txt"/>
		<field name="admin.robots_title" value="Content of robots.txt"/>
		<field name="admin.module_settings" value="Modules Settings"/>
		<field name="admin.module_settings_title" value="Settings and updates"/>
		<field name="admin.design" value="Designs"/>
		<field name="admin.design_title" value="Designs"/>
		<field name="admin.history" value="History"/>
		<field name="admin.history_title" value="History of users sessions"/>
		<field name="admin.locale_param" value="Text ID"/>
		<field name="admin.locale_value" value="Value"/>
		<field name="admin.robots_example_open" value="Example for open website:"/>
		<field name="admin.robots_example_closed" value="Example for closed website:"/>
		<field name="admin.robots_example_seo" value="SEO optimized Example:"/>
		<field name="admin.realtime" value="Real-Time Overview"/>
		<field name="admin.analytics" value="Analytics"/>
		<field name="admin.social" value="Social Wall"/>
		<field name="admin.manual" value="Admin manual"/>
		<field name="admin.structure_manage" value="Structure Manage"/>
		<field name="admin.media_library" value="Media Library"/>
		<field name="admin.dev_tools" value="Development Tools"/>
		<field name="admin.sitemap" value="Manage sitemap.xml"/>
		<field name="admin.manual_title" value="Инструкция"/>
	</locale>
    <locale name="ua">
		<field name="msg.module_handler_not_found" value="Не вдалося знайти обробник модуля"/>
	</locale>
</locales>

</document>