<?xml version="1.0" encoding="UTF-8"?>
<document>

<config>

	<param name="activationLevel" value="5"/>
	<param name="activationUrl" value="*"/>
	<param name="adminMenu" value="0"/>
	<param name="adminMenuOrder" value="10"/>
	
	<constant name="CUSTOM_CONSTANT" value="custom_constant"/>
	
	<filter action="loadCustomFunction" url="*"/>
	<filter action="loadCustomFunctionHomepage" url="/"/>
</config>

<install>
	<param name="name" value="custom"/>
	<param name="version" value="1.1"/>
	<param name="date" value="09.07.2017"/>
	<param name="installHook" value="Install_Custom"/>
	<param name="title" value="Custom module"/>
	<param name="description" value="Empty module. Template for custom module"/>
	
	<dependency module="msv-core" version="1.0" />
	<dependency module="msv-api" version="1.0" />
	
	<file dir="module" path="custom/custom.php"/>
	<file dir="module" path="custom/config.xml"/>
</install>


<locales>
	<locale name="ru">
		<field name="custom.field" value="Custom Text"/>
	</locale>
	<locale name="en">
		<field name="custom.field" value="Custom Text"/>
	</locale>
</locales>
</document>