<?xml version="1.0" encoding="UTF-8"?>
<document>

	<config>

		<param name="activationLevel" value="9"/>
		<param name="activationUrl" value="*"/>
		<param name="adminMenu" value="0"/>

		<constant name="TABLE_SEO" value="seo"/>
		<constant name="TABLE_LEADS" value="leads"/>

		<filter action="msv_seo_setseo" url="*"/>
		<filter action="msv_seo_setlead" url="*"/>
		<filter action="msv_seo_showleads" url="/admin/"/>

		<api name="lead" action="api_request_lead"/>

		<table name="leads" index="id" title="id">
			<field name="id" type="id"/>
			<field name="published" type="published"/>
			<field name="deleted" type="deleted"/>
			<field name="author" type="author"/>
			<field name="updated" type="updated"/>
			<field name="lang" type="lang"/>
			<field name="user_id" type="int"/>
			<field name="device_type" type="str"/>
			<field name="ip" type="str"/>
			<field name="ip_info" type="array"/>
			<field name="ua" type="str"/>
			<field name="ua_info" type="array"/>
			<field name="referrer" type="str"/>
			<field name="phpid" type="text"/>
			<field name="last_action" type="date"/>
			<field name="comment" type="text"/>
		</table>
		<table name="seo" index="url" title="param">
			<field name="id" type="id"/>
			<field name="published" type="published"/>
			<field name="deleted" type="deleted"/>
			<field name="author" type="author"/>
			<field name="updated" type="updated"/>
			<field name="lang" type="lang"/>
			<field name="url" type="url"/>
			<field name="title" type="text"/>
			<field name="description" type="text"/>
			<field name="keywords" type="text"/>
			<field name="sitemap" type="bool"/>
		</table>
	</config>

	<install>
		<param name="name" value="msv-seo"/>
		<param name="version" value="1.2.1"/>
		<param name="date" value="09.07.2017"/>
		<param name="title" value="MSV SEO"/>
		<param name="description" value="SEO and social functions for MSV"/>
		<param name="tags" value="kernel,seo,social,advertisement"/>
		<param name="author" value="max@msvhost.com"/>
		<param name="preview" value="images/module_preview_msv-seo.jpg"/>

		<dependency module="msv-core" version="1.0" />

		<file dir="module" path="msv-seo/msv-seo.php"/>
		<file dir="module" path="msv-seo/msv-seo.api.php"/>
		<file dir="module" path="msv-seo/msv-seo.functions.php"/>
		<file dir="module" path="msv-seo/config.xml"/>
		<file dir="module" path="msv-seo/config.locales.xml"/>
		<file dir="content" path="images/module_preview_msv-seo.jpg"/>
	</install>
</document>