<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="MSV Website Class">
            <directory>_init</directory>
            <directory>module-blog</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./../../src</directory>
            <exclude>
                <directory>./../../src/content</directory>
                <directory>./../../src/include/custom</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./../phpunit-report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./../phpunit-report/coverage.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>