<?xml version="1.0" encoding="UTF-8"?>
<document>

<config>
	<param name="activationUrl" value="*"/>
	<param name="activationLevel" value="8"/>
	<param name="adminMenu" value="0"/>

	<filter url="/admin/" action="AdminLoadUI"/>
	<filter url="/sitograph/modules/" action="SitographLoadModules"/>

	<api name="form" action="api_request_form"/>
    <api name="set_structure_status" action="ajax_set_structure_status"/>
</config>

</document>
