<?xml version="1.0" encoding="UTF-8"?>
<document>

<config>
	<param name="activationUrl" value="*"/>
	<param name="adminMenu" value="0"/>
	
	<filter action="api_request" url="/api/*"/>
	<filter action="api_request" url="/api/*/*"/>
	<filter action="api_request" url="/api/*/*/*"/>
	<filter action="api_request" url="/api/*/*/*/*"/>
</config>

<install>
	<param name="name" value="msv-api" />
	<param name="version" value="1.3.7"/>
	<param name="date" value="18.12.2017"/>
	<param name="title" value="MSV API"/>
	<param name="description" value="API functions for MSV Website Framework"/>
	<param name="tags" value="kernel,database,api"/>
	<param name="author" value="max@msvhost.com"/>
	<param name="preview" value="images/module_preview_msv-api.jpg"/>

	<dependency module="msv-core" version="1.4" />
	
	<file dir="module" path="msv-api/msv-api.php"/>
	<file dir="module" path="msv-api/msv-api.api.php"/>
	<file dir="module" path="msv-api/msv-api.functions.php"/>
	<file dir="module" path="msv-api/config.xml"/>
	<file dir="module" path="msv-api/config.locales.xml"/>
	<file dir="content" path="images/module_preview_msv-api.jpg"/>
</install>

</document>