<?xml version='1.0'?> 
<document>

<config>
	<param name="activationUrl" value="*"/>
	<param name="activationLevel" value="3"/>
	<param name="adminMenu" value="0"/>
</config>


<install>
	<param name="name" value="ga" />
	<param name="version" value="1.1"/>
	<param name="date" value="22.07.2017"/>
	<param name="title" value="Google: Analytics"/>
	<param name="description" value="Google Analytics Integration"/>
	<param name="installHook" value="Install_GoogleAnalytics"/>

	<dependency module="msv-core" version="1.0" />

	<file dir="module" path="google-analytics/google-analytics.php"/>
	<file dir="module" path="google-analytics/config.xml"/>
</install>

</document>