<?xml version='1.0'?> 
<document>

<config>
	<param name="activationUrl" value="*"/>
	<param name="activationLevel" value="3"/>
	<param name="adminMenu" value="0"/>
</config>

<install>
	<param name="name" value="google-analytics" />
	<param name="version" value="1.1.2"/>
	<param name="date" value="20.08.2017"/>
	<param name="title" value="Google: Analytics"/>
	<param name="description" value="Google Analytics Integration"/>
	<param name="tags" value="google,analytics"/>
	<param name="author" value="max@msvhost.com"/>
	<param name="preview" value="images/module_preview_ga.jpg"/>

	<param name="installHook" value="Install_GoogleAnalytics"/>

	<dependency module="msv-core" version="1.0" />

	<file dir="module" path="google-analytics/google-analytics.php"/>
	<file dir="module" path="google-analytics/config.xml"/>
	<file dir="content" path="images/module_preview_ga.jpg"/>
</install>

<locales>
	<locale name="en">
		<field name="msg.invalid_google_service_auth_file" value="Invalid Google Service Auth JSON file"/>
		<field name="settings.google_analytics_tracking_id" value="Google Analytics Tracking ID"/>
		<field name="settings.google_service_auth_json" value="Google Service server-server authentication JSON file path"/>
	</locale>
	<locale name="ru">
		<field name="msg.invalid_google_service_auth_file" value="Ошибка в файле авторизации Google Service Auth"/>
		<field name="settings.google_analytics_tracking_id" value="Google Analytics Tracking ID"/>
		<field name="settings.google_service_auth_json" value="Путь к JSON файлу авторизации Google Service server-server"/>
	</locale>
</locales>
</document>